/*
    Style generique *{}
    qui s'applique à toute la page.
    overflow : permet une adaptation en fonction du contenu
    les texte feront agrandir la page si besoin
*/
*{
    overflow: auto;
}

/*
        <!-- Informations sur les styles 
        avec id="categorie"
        #categorie : concernera tout élément identifié "categorie"
        p#categorie : uniquement les paragraphe identifié "categorie"
        ul#categorie : uniquement les ul identifié "categorie"
    
        autre possibilité : utiliser des classes
        (avec des points cette fois ci dans style)
        p.categorie : uniquement les paragraphe identifié "categorie"
    -->
*/
body {
    background-color: #8BA1BB;
    min-width: 280px;
    max-width: 800px;
    font-family: Arial;
    margin:auto;
}
div.centre {
    text-align: center;
    padding:0px
}
div.categorie {
    margin-top: 20px;
    margin-bottom: -18px;
}
p.categorie{
    background-color: black;
    color:white;  
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px 18px;  
}
div.contenu {
    background-color: white;
    margin: 0px 20px 40px 20px ;
    padding: 4%;
    box-shadow: 0px 0px 10px 10px #6C829D;
}
h1{
    font-size: x-large;
    margin: 10px 10px 0px 10px;     
}
p.separateur {
    background-color: black;
    width: 40%;
    height: 1px;
    display:inline-block;
    margin: 0px;
}
p.description{
    max-width: 400px;
    font-size: smaller;
    display: inline-block;
}
div.info {
    background-color: lightgray;
    position : relative;
}
img.info {
    display:block;
    width:100%;
    min-height: 200px;
    max-height: 450px;
    object-fit: cover;
}
table.info {
    position : absolute;
    bottom: 0;
    width:100%; 
    height: 15%;
    background-color: #6C829DC0;
    color: white;">
}
table.info tr{
    text-align:center;
    font-size: smaller;
}   

div.colonne {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    padding-bottom: 5px;
    border-bottom: 5px solid #6C829D;
}
div.colonne1 {
}
div.colonne2 {
    /* float: right; */
}
div.colonne1 p {
    text-align: center;
    font-size: smaller;
    border: 1px solid lightblue;
    padding: 8px;
    margin: 8px
}
table.instruction tr {
    height: 40px;
}
table.instruction th {
    vertical-align:top;
}
table.instruction p.instruction_nb {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align:center;
    font-size: small;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin:0px;
}
table.instruction td.instruction_td {
    vertical-align:top;
    font-size: smaller;
    padding-left: 10px;
}

p.description{
    font-size: smaller;
}

/* Style pour ordinateurs */
@media only screen and (min-width: 480px) {
    h1{
        font-size: xx-large;
        margin: 10px 10px 10px 10px;     
    }
    div.categorie {
        margin-top: 40px;
        margin-bottom: -18px;
    }
    div.contenu {
        margin: 0px 40px 40px 40px;
    }
    div.colonne {
        width: 48%;
    }
    div.colonne2 {
        float: right;
    }
    
    p.description{
        font-size: small;
    }
    div.colonne h2{
        font-size: medium;
    }
    table.info tr{
        font-size: small;
    }   
    div.colonne1 p {
        font-size: small;
    }
    table.instruction p.instruction_nb {
        font-size: medium;
    }
    table.instruction td.instruction_td {
        font-size: small;
    }
}

/* Style pour grands écrans */
@media only screen and (min-width: 800px) {
    p.description{
        font-size: medium;
    }
        div.colonne h2{
        font-size: large;
    }
    table.info tr{
        font-size: medium;
    }   
    div.colonne1 p {
        font-size: medium;
    }
    table.instruction p.instruction_nb {
        font-size: large;
    }
    table.instruction td.instruction_td {
        font-size: medium;
    }
}

/* Style pour très petites largeurs */
@media only screen and (max-width: 320px) {
    table.info tr{
        font-size: x-small;
    }   
}

